.main_contents {
  padding-left:20px;
  padding-top: 20px;
  
}
.main_contents h2 {
  color: #003D21;
  font-family: "Roboto";
}

.main_contents h3 {
  color: #003D21;
  font-family: "Roboto";
}

.main_contents a {
  color: #003D21;
  font-family: "Roboto";
}

img.aligncenter {
  display: block;
  margin: 0 auto;
}

table {
  border: 1px solid black; /* Add border for the entire table */
  border-collapse: collapse;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

th, td {
  border: 3px solid black !important;; /* Add border for each cell */
 
  padding: 8px;
}

th {
  background-color: #f2f2f2; /* Optional: Add a background color to header cells */
}


  

  




  



