.main_contents {
  padding-left: 20px;
  padding-top: 20px;
}
.main_contents h2 {
  color: #003D21;
  font-family: "Roboto";
}

.main_contents h3 {
  color: #003D21;
  font-family: "Roboto";
}

.main_contents a {
  color: #003D21;
  font-family: "Roboto";
}

table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px, 6px;
  }

  
