.main_contents {
  padding-left: 28%;
  padding-top: 20px;
  width: 80%;
}
.main_contents h2 {
  color: #003D21;
  font-family: "Roboto" !important;
}

.main_contents h3 {
  color: #003D21;
  font-family: "Roboto" !important;
}

.main_contents a {
  color: #003D21;
  font-family: "Roboto";
}

table, th, td, tr {
    border: 2px solid black !important;
    border-collapse: collapse;
    padding: 4px, 6px;
  }