.main_contents {
  padding-left: 20px;
  padding-top: 20px;
}
.main_contents h2 {
  color: #003D21;
  font-family: "Roboto";
}

.main_contents h3 {
  color: #003D21;
  font-family: "Roboto";
}

.main_contents a {
  color: #003D21;
  font-family: "Roboto";
}

.wpb_column {
  display: flex;
  align-items: center;
}

.wpb_column .wpb_text_column {
  padding-left: 20px; 
}

.vc_row {
  display: flex;
  align-items: flex-start;
}

.vc_column_container {
  display: flex;
  align-items: center;
}



